.main{
    display: flex;
    position: relative;
    
}
.text{
    color: white;
    margin: 0 10px 0 10px;
    padding: 0;
    width: 165px;
}
.text_date{
    color: white;
    margin: 0 10px 0 10px;
    padding: 0;
    text-align: center;
    
}

.button__filtered{
    background-color: rgb(102, 218, 121);
    border-radius: 25px;
    margin: 20px 0 0 10px;
    border: none;
    transition: background-color 0.6s ease;
}
.button__filtered:active {
    background-color: rgb(16, 20, 16);
    transition: background-color 0.6s ease;
}

.sort__container{
    display: flex;
    flex-direction: column;
}
.sort_box{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    
}

.option{
border-radius: 5px;
}

.sort{
    width: 140px;
    border-radius: 5px;
}

.planet{
    background-color: #00000000;
    padding-top: 100px;
    width: 250px;
    height: 250px;
}

.main__container{
    display: flex;
    margin-top: 130px;
}
.title__text{
    font-family: "Playfair Display";
    margin: 50px auto 10px;
}

.image{
    border: 5px;
    width: 100px;
    height: 100px;
}
.cards__list {
    padding: 0;
    margin: 30px 70px 30px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 20px;
  }

  @media screen and (max-width: 1023px) {
    .cards__list {
        padding: 0;
        grid-template-columns: repeat(2, 339px);
        gap: 30px 36px;
      }
  }

  @media screen and (max-width: 750px) {
    .cards__list {
        margin: 30px auto 10px;
        grid-template-columns: repeat(1, 300px);
        gap: 23px 0;
      }
  }